body {
  background-color: rgba(191, 217, 214, 0.8);
  background-size: 340px, auto;
  min-height: 100vh;
  /* margin: 50px; */
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
}